<div class="well">
		<form action="../../create/review/{{number}}" method="post" role="form" >
				<div class="form-group">
					<label for="">Title</label>
					<input type="text" class="form-control" name="title" placeholder="Input field">
				</div>
				<div class="form-group">
					<label for="">Discription</label>
					<input type="text" class="form-control" name="disc" placeholder="Description field" style="height:100px;" >
				</div>
				<div class="form-group">
					<label for="">Author</label>
					<input type="text" class="form-control" name="author" placeholder="Author field" style="height:50px;" >
				</div>

				
				<div class="stars">
 
		<label for="rate">Rate: </label><br>
	    <input class="star star-5" id="star-5" type="radio" name="star" value="5" />

	    <label class="star star-5" for="star-5"></label>

	    <input class="star star-4" id="star-4" type="radio" name="star" value="4" />

	    <label class="star star-4" for="star-4"></label>

	    <input class="star star-3" id="star-3" type="radio" name="star" value="3" />

	    <label class="star star-3" for="star-3"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" value="2" />

	    <label class="star star-2" for="star-2"></label>

	    <input class="star star-1" id="star-1" type="radio" name="star" value="1" />

	    <label class="star star-1" for="star-1"></label>

	 

	</div>
			<input type="hidden" name="_csrf" value="{{ csrfToken }}">
				<button type="submit" class="btn btn-primary">Add a Review</button>
	</form>
	<!-- {{# each review}}
			<div class="well">

	<h2>{{this.title}}</h2>
	<p>{{this.disc}}</p>
	<div class="blockquote">{{this.author}}</div>
	</div>
	{{/each}} -->


</div>